/* Colors and Fonts*/
body{
  background-color: #CEE5F2;
  color: #536B78;
  font-family:'Nanum Myeongjo', serif;
  font-size: 45px;
 }
 h1 {
 	color: #1D2D44;
 	font-weight: 40px;
 	letter-spacing: 10px;
 	font-size: 50px;
 	font-family:'Libre Baskerville';
 }
 h2 {
    color: rgb(163, 206, 241);
 	font-size: 30px;
 	font-weight: 200px;
 	font-family:'Libre Baskerville';
 }
a { 
    font-family: 'Nanum Myeongjo', serif;
	text-decoration: none;
	color: purple;
	font-weight: 40px;
	font-size: 20px;
 }
a:hover {
	color: pink
}

p {
	font-family: 'Nanum Myeongjo', serif;
	font-weight: 40px;
	font-size: 20px;
}


/*Custom design with class*/

.container{
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container{
      width: 600px;
    }
}

@media (max-width: 500px) {
	.container {
      width: 400px;
    }
}
.card-white {
	background-color: #fffcf2;
	padding: 45px;
	box-shadow: 0px 10px 30px #8b8c89;
	border-radius: 50px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle{
	border-radius: 90px;
}
.btn-blue{
	background-color: #b5838d;
	color: #fffcf2;
	padding: 15px 20px;
	border-radius: 16px;
}
.btn-blue:hover{
	background-color: pink;
	color: white;
}
.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
    display: inline;
    padding: 10px;
}
.list-inline i {
    font-size: 60px;
    color: #b5838d;
}
.list-inline i:hover{
    color: #b5c99a;
}

/*Design adjustments using id*/
#introduction p {
    margin-bottom: 50px;
}